.loading {
  position: relative;
  color: #fff;
  font-size: 1.2rem; /* 3.3vh */
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.6px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  transition: all 0.5s ease-in;
}
.loading_back {
  position: fixed;
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
  color: white;
  transition: all 0.5s ease-in;
}
.loading_back p {
  margin-block-end: 0rem;
  position: relative;
  font-size: 1.2rem; /* 3.3vh */
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in;
}
.lds_ellipsis {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  transition: all 0.35s ease-in;
}
.lds_ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds_ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds_ellipsis1 0.6s infinite;
}
.lds_ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds_ellipsis2 0.6s infinite;
}
.lds_ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds_ellipsis2 0.6s infinite;
}
.lds_ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds_ellipsis3 0.6s infinite;
}
@keyframes lds_ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds_ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds_ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loadercircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 100%;
  transition: all 0.35s ease-in;
}
.loadercircle div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loadercircle div:nth-child(1) {
  left: 12px;
  animation: loadercircle1 0.6s infinite;
}
.loadercircle div:nth-child(2) {
  left: 12px;
  animation: loadercircle2 0.6s infinite;
}
.loadercircle div:nth-child(3) {
  left: 36px;
  animation: loadercircle2 0.6s infinite;
}
.loadercircle div:nth-child(4) {
  left: 60px;
  animation: loadercircle3 0.6s infinite;
}
@keyframes loadercircle1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loadercircle3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loadercircle2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
