.vasback {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #0000aa;
}
.vasback p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.vasbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DungGeunMo', cursive;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #00ffbe;
  text-shadow:
    3px 3px 10px #00ffbe,
    -3px -3px 10px #00ffbe;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
}
.vasguidetitle {
  font-size: 1.5rem;
  /* padding-bottom: 1rem; */
}
.vasguide,
.vasguideeg {
  white-space: pre-line;
  font-size: 1rem;
  text-align: center;
}
.line {
  width: 100%;
  border: 0.5px solid #00ffbe;
}
.spacebox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.spacediv {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spacediv p {
  font-size: 1rem;
  line-height: normal;
  padding-top: 1rem;
}
.squre {
  width: 5rem;
  height: 5rem;
  border: 1px solid #00ffbe;
}
.rectangular {
  width: 3rem;
  height: 5rem;
  border: 1px solid #00ffbe;
}
.tshapedbox {
  width: 3.8rem;
  height: 5rem;
  border: 1px solid #00ffbe;
}
.tshaped1 {
  position: relative;
  top: 50%;
  left: 46%;
  transform: translateY(-50%);
  width: 2rem;
  height: 1.2rem;
  background-color: #0000aa;
  border-top: 1px solid #00ffbe;
  border-left: 1px solid #00ffbe;
  border-right: 1px solid #0000aa;
  border-bottom: 1px solid #00ffbe;
}
.vastohome {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
/* .tshaped::after{
  content: '';
  position: absolute;
  width: 2.2rem;
  height: 1.5rem;
  border-top: 1px solid #00ffbe;
  border-left: 1px solid #00ffbe;
  border-right: 1px solid #0000aa;
  border-bottom: 1px solid #00ffbe;
} */

/* .vasguidehipen{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
} */
/* .vasguideselect{
  font-size: 1.2rem;
}
.vasdropdownbox{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8rem;
}
.vasdropdown{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} */
.selectbtn {
  background-color: transparent;
  border: 1px solid #00ffbe;
  font-family: 'DungGeunMo', cursive;
  font-size: 1.2rem;
  line-height: 2.2rem;
  width: 10rem;
  color: #00ffbe;
  text-shadow:
    3px 3px 10px #00ffbe,
    -3px -3px 10px #00ffbe;
  /* margin-bottom: 2rem; */
}
.dropdownmenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: lower-alpha;
  width: 10rem;
  height: 7rem;
  font-size: 1rem;
  margin: 0 auto;
  border: 1px solid;
  border-top: 0;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.dropdownitem {
  display: block;
  width: 100%;
  clear: both;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.gogobtn {
  background-color: transparent;
  border: 1px solid #00ffbe;
  border-left: 0;
  font-family: 'DungGeunMo', cursive;
  font-size: 1.2rem;
  line-height: 2.2rem;
  width: 6rem;
  color: #00ffbe;
  text-shadow:
    3px 3px 10px #00ffbe,
    -3px -3px 10px #00ffbe;
  margin-bottom: 2rem;
}

@media screen and (min-width: 713px) and (max-width: 767px) {
  .vasbox {
    font-size: 1rem;
    width: 95%;
    height: calc(var(--vh, 1vh) * 100);
  }
  .vasguide {
    width: 95%;
    text-align: center;
    font-size: 1rem;
    word-break: keep-all;
  }
  .vasguideeg {
    display: none;
  }
  .line {
    border: 0.1px solid #00ffbe;
  }
  .tshaped1 {
    left: 47%;
  }
}
@media screen and (min-width: 321px) and (max-width: 711px) {
  .vasbox {
    font-size: 1rem;
    width: 95%;
    height: calc(var(--vh, 1vh) * 100);
  }
  .vasguide {
    width: 95%;
    text-align: center;
    font-size: 1rem;
    word-break: keep-all;
  }
  .vasguideeg {
    display: none;
  }
  .line {
    border: 0.1px solid #00ffbe;
  }
  .tshaped1 {
    left: 47%;
  }
}
@media screen and (max-width: 320px) {
  .vasguidetitle {
    font-size: 1.3rem;
    line-height: 0rem;
  }
  .vasguide {
    font-size: 0.9rem;
  }
  .spacediv p {
    font-size: 0.9rem;
  }
  .vastohome {
    font-size: 0.8rem;
  }
}
.materialicons {
  font-family: 'Material Icons Outlined';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.xyznonelandscape {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: rgba(220, 220, 220, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  position: absolute;
  font-size: 1.6em;
  display: none;
}
.xyznonelandscape h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'IBM Plex Sans KR', 'sans-serif';
  text-align: center;
}
.vasgui {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: auto;
  overflow: hidden;
  touch-action: none; /**/
  font-family: 'DungGeunMo', 'Oswald';
}
.vastopnav {
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.topnavbox {
  width: 24px;
  height: 24px;
  background-color: rgba(170, 170, 170, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intromenu {
  width: 40vw;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid #fff;
  opacity: 1;
  box-shadow: none;
  animation: fadeIn 1s ease-in;
  box-sizing: border-box;
  z-index: 100;
}
.intromenubox {
  box-sizing: border-box;
  background-color: #fff;
  padding: 1rem;
  background-color: rgba(170, 170, 170, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
.intromenucon {
  box-sizing: border-box;
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 1s ease-out forwards;
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intromenucon div {
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}
.intromenucon p {
  font-family: 'DungGeunMo', 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  /* font-weight: 800; */
  color: #fff;
  margin: 0.2rem 0;
}
.intromenutitle h1 {
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 0rem;
  font-family: 'DungGeunMo', 'Oswald';
  letter-spacing: 0.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.instructions p {
  font-size: 1.1rem;
  /* font-weight: 600; */
  margin-bottom: 0.75rem;
}
.playbtn {
  box-sizing: border-box;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.2rem 1rem;
  font-family: 'DungGeunMo', 'Oswald';
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  transition: all 0.4s;
}
.playbtn:hover {
  /* outline: 2px solid #fff; */
  box-shadow: 0px 0px 10px white;
  cursor: pointer;
  transition: all 0.2s;
}
.canvastop {
  width: 100%;
  height: 100%;
}
.filtered {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}
.vaskeys {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  width: auto;
  height: auto;
  margin: auto;
  bottom: 10px;
  right: 15px;
}
.vaskeybelow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.vasarr {
  cursor: pointer;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: rgba(170, 170, 170, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  color: white;
  font-size: 20px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  transition: all 0.05s linear;
  user-select: none;
}
.vasarr:active {
  text-shadow:
    0 0 10px white,
    0 0 10px white,
    0 0 20px white;
  transform: translate(0, 2px);
}
.pressed {
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.workinfo {
  width: fit-content;
  min-width: 12rem;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(170, 170, 170, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  /* border-radius: 3px; */
  font-family: 'DungGeunMo';
  z-index: 1;
}
.workinfo h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 13px;
  font-size: 1.6em;
  font-family: 'DungGeunMo';
  font-weight: 200;
  color: #fff;
}
.workinfo p {
  margin: 0;
  font-size: 1.2em;
  font-family: 'DungGeunMo';
  /* font-weight: 600; */
  word-break: keep-all;
  color: #fff;
}
.infofull {
  font-size: 1.1em;
  position: relative;
  top: 1px;
  float: right;
  cursor: pointer;
}
.infoclose {
  font-size: 1.1em;
  position: relative;
  top: 1px;
  float: right;
  cursor: pointer;
}
.bigtxt {
  width: 50%;
  min-width: 12rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(170, 170, 170, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  /* border-radius: 3px; */
  font-family: 'DungGeunMo';
  z-index: 1;
}
.bigtxt p {
  margin: 0;
  font-size: 1rem;
  font-family: 'DungGeunMo';
  /* font-weight: 600; */
  word-break: keep-all;
  color: #fff;
}
.enlarge {
  height: fit-content;
  min-height: 9em;
  width: fit-content;
  min-width: 25em;
  display: block;
  top: 50%;
  left: 50%;
  bottom: 0;
  white-space: pre-wrap;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 575px) {
  .intromenu {
    width: 86vw;
  }
  .vasarr {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
  }
  .vasarr span {
    font-size: 16px;
  }
  .xyzspace {
    width: 96%;
    height: 16px;
  }
  .bigtxt {
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .enlarge {
    height: fit-content;
    min-height: 25em;
    width: fit-content;
    min-width: 40em;
  }
  .workinfo h3 {
    font-size: 1.8em;
  }
  .workinfo p {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .enlarge {
    height: fit-content;
    min-height: 25em;
    width: fit-content;
    min-width: 40em;
  }
  .workinfo h3 {
    font-size: 1.8em;
  }
  .workinfo p {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .enlarge {
    height: fit-content;
    min-height: 25em;
    width: fit-content;
    min-width: 40em;
  }
  .workinfo h3 {
    font-size: 1.8em;
  }
  .workinfo p {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) and (orientation: landscape) {
  .xyznonelandscape {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }
  .xyznonelandscape p {
    color: #fff;
    font-weight: 800;
  }
}
